@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products,
.reports1-2{
  display: flex;
  height: 94vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: rgb(218, 165, 232);
}
.reports1-2{
  background-color: rgb(0, 208, 255);
  color: #ab49c4;
}